<div class="panel">
  <div class="panel-body">
      <% if message.user.image.present? %>
        <%= image_tag message.user.image_url, class: "img-circle avatar-medium" %>
      <% else %>
        <%= image_tag "https://s.gravatar.com/avatar/e90c5b356d93f510fb660e271ec62782?s=80", class: "image-circle avatar-medium" %>
      <% end %>
      <strong><%= message.user.fullname %></strong>
      <span class="pull-right"><%= message.message_time %></span>
      <br/>
      <div class="row-space-2">
        <%= message.context %>
      </div>
  </div>
</div>
