<div class="container">
<div class="row">
  <div class="col-md-12">
  <% if @conversations.present? %>
    <div class="panel panel-default">
      <div class="panel-heading">Your Conversations</div>
      <div class="panel-body">

          <% @conversations.each do |conversation| %>
              <% other = current_user == conversation.sender ? conversation.recipient : conversation.sender %>
              <%= link_to conversation_messages_path(conversation) do %>

                  <div class="row conversation">
                    <% if conversation.messages.any? %>
                      <div class="col-md-2" style="text-align:center">
                        <% if other.image.present? %>
                          <%= image_tag other.image_url, class: "img-circle avatar-medium" %>
                        <% else %>
                          <%= image_tag "https://s.gravatar.com/avatar/e90c5b356d93f510fb660e271ec62782?s=80", class: "image-circle avatar-medium" %>
                        <% end %>
                      </div>
                        <div class="col-md-2">
                          <%= other.fullname %>
                          <%= conversation.messages.last.message_time %>
                        </div>
                        <div class="col-md-8">
                          <%= conversation.messages.last.context %>
                        </div>
                    <% end %>
                  </div>

              <% end %>
          <% end %>

        <% else %>
          <h3>No Messages yet.</h3>
          <p class="annotation">When you make plans to travel, read messages from your host here.</p>
          <%= link_to "Explore Listings", search_path, class: "btn btn-normal" %>
          <br>
      </div>
    </div>
  </div>
 <% end %>

</div>
</div>
