  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel panel-body">
        <div class="image-responsive" id="profile-photo-large">
          <% if current_user.image.present? %>
            <%= image_tag current_user.image.url, class: "avatar-full" %>
          <% else %>
            <i class="fa fa-camera fa-lg"></i>&nbsp;&nbsp;no image
          <% end %>
        </div>
      </div>
      <div class="panel-body">
        <ul class="sidebar-list" style="text-align:center">
          <li><h3><%= current_user.fullname %></h3></li>
          <li><%= link_to "View profile", user_path(current_user) %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
        </ul>
      </div>
    </div>

    <% if current_page?(dashboard_path) %>
      <div class="panel panel-default">
        <div class="panel-heading">Quick Links</div>
        <div class="panel-body">
          <ul class="sidebar-list">
            <li><%= link_to "Upcoming Trips", your_trips_path %></li>
            <li><%= link_to "Hosting on Airbnb", src="https://www.airbnb.com/host/homes" %></li>
            <li><%= link_to "Traveling on Airbnb", src="https://www.airbnb.com/help/getting-started/how-to-travel" %></li>
            <li><%= link_to "Help center", src="https://www.airbnb.com/help" %></li>
          </ul>
        </div>
      </div>
    <% end %>
    
  </div>
