<div class="container">
  <div class="alert alert-block alert-with-icon space-top-lg-4 space-top-md-4 hide-sm col-md-12" style="background-color:#c2e4e7">
    <div class="col-md-1 adicon-usd">
      <i class="fa fa-usd fa-5x"></i>
    </div>
    <div class="col-md-10">
      <h5>Earn $100 travel credit</h5>
      <p>Give your friends $40 off their first trip on Airbnb and you’ll get up to $100 travel credit.</p>
      <a href="https://www.airbnb.com/invite?r=35" class="btn btn-form">Invite Friends</a>
      <button type="button" class="btn space-sm-2" id="later-button">Later</button>
    </div>
    <div id="remove-icon">
      <span class="glyphicon glyphicon-remove pull-right"></span>
    </div>
  </div>

<!-- SIDEBAR -->
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel panel-body">
        <div class="image-responsive" id="profile-photo-large">
          <% if current_user.image.present? %>
            <%= image_tag current_user.image.url, class: "avatar-full" %>
          <% else %>
            <i class="fa fa-camera fa-lg"></i>&nbsp;&nbsp;no image
          <% end %>
        </div>
      </div>
      <div class="panel-body">
        <ul class="sidebar-list" style="text-align:center">
          <li><h3><%= current_user.fullname %></h3></li>
          <li><%= link_to "View profile", user_path(current_user) %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
        </ul>
      </div>
    </div>

    <% if current_page?(dashboard_path) %>
      <div class="panel panel-default">
        <div class="panel-heading">Quick Links</div>
        <div class="panel-body">
          <ul class="sidebar-list">
            <li><%= link_to "Upcoming Trips", your_trips_path %></li>
            <li><%= link_to "Hosting on Airbnb", src="https://www.airbnb.com/host/homes" %></li>
            <li><%= link_to "Traveling on Airbnb", src="https://www.airbnb.com/help/getting-started/how-to-travel" %></li>
            <li><%= link_to "Help center", src="https://www.airbnb.com/help" %></li>
          </ul>
        </div>
      </div>
    <% end %>
    
  </div>


  <!-- RIGHT CONTENT -->
  <div class="col-md-9">
    <!-- NOTIFICATIONS -->
    <div class="panel panel-default">
      <div class="panel-heading">Notifications</div>
          <%= render partial: 'notifications/notification', locals: {notifications: @notifications} %>
    </div>

    <div class="panel panel-default panel-body" id="advertisement" style="display: none;">
      <div class="col-md-8">
        <h3>Invite friends, earn travel credit!</h3>
        <p>Earn up to ¥ 10,100 for everyone you invite.</p>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-normal pull-right">Travel Credit</button>
      </div>
    </div>

    <!-- MESSAGE -->
    <div class="panel panel-default">
      <div class="panel-heading">Messages</div>
      <div class="panel-body">
        -
      </div>
      <div class="panel-body">
          <%= link_to "All messages", conversation_messages_path(current_user) %>
      </div>
    </div>

    <!-- VERIFIED INFO -->
    <%= render 'users/verified_info' %>

  </div>
</div>

<script>
  $('#later-button').click(function() {
    $(this).parents(".alert").fadeOut(200);
    $('#advertisement').show();
  })
  $("#remove-icon span").click(function() {
    $(this).parents(".alert").fadeOut(200);
  })
</script>
