<div class="container">
<%= render 'user_menu' %>

  <div class="col-md-8">
    <%= form_for current_user do |f| %>
      <div class="panel panel-default">
        <div class="panel-heading">Profile Photo</div>
          <div class="panel-body">
            <div class="panel-left">
              <% if  %>
                <%= image_tag current_user.image.url(:medium) %>
              <% else %>
                <i class: "fa fa-camera-retro"></i>
                <p>Uplpoad your profile photo</p>
              <% end %>
            </div>
            <div class="panel-right">
              <p class="annotation">Clear frontal face photos are an important way for hosts and guests to learn about each other. It’s not much fun to host a landscape! Be sure to use a photo that clearly shows your face and doesn’t include any personal or sensitive info you’d rather not have hosts or guests see.</p>
              <p style="line-height:6px;"></p>
              <p class="annotation">Your public profile only shows your first name. When you request a booking, your host will see your first and last name.</p>
              <br>
              <div class="form-group">
                <span class="btn btn-default btn-file text-babu">Select Photos
                  <%= file_field_tag :image, type: :file, multiple: true %>
                </span>
              </div>
            </div>
            <br>
          </div>

            <br>

            <br>
      </div>

    <div class="panel panel-default">
      <div class="panel-heading">Profile Video</div>
        <div class="panel-body">
          <div class="col-md-7">
            <div class="video-thumb">
              <p class="video-title">
                You haven't recorded a video profile yet.</p>
              <p class="video-icon">
                <i class="fa fa-video-camera fa-5x" aria-hidden="true"></i>
              </p>
            </div>
          </div>
          <div class="col-md-5">
            <h3>Video Checklist</h3>
            <ul>
              <li>We love close-ups, but we suggest you sit at arm’s length.</li>
              <li>You’ve got 30 seconds, so do your best to be concise.</li>
              <li>Try to keep the light in front of you, not behind you.</li>
              <li>Look into the camera to create that personal connection.</li>
              <li>You’ll get a chance to preview your video before it uploads.</li>
            </ul>
          </div>
        </div>

        <div class="panel-body">
          <h3>Start with your name and answer some of the following questions, or make up some of your own!</h3>
          <ul>
            <li>Where are you from?</li>
            <li>What are some of your interests?</li>
            <li>What do you do in your spare time?</li>
            <li>What is a fun fact about yourself?</li>
            <li>What are some of your favorite things?</li>
          </ul>
        </div>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: 'btn btn btn-normal' %>
    </div>

    <% end %>
  </div>
</div>
