<div class="container">
  <%= render 'user_menu' %>

  <div class="col-md-9">
    <%= render 'navbar' %>

    <% if !@host_reviews.present? && !@guest_reviews.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
        Past Reviews
        </div>
        <div class="panel-body">
          <p>Reviews are written at the end of a reservation through Airbnb. Reviews you’ve received will be visible both here and on your public profile.<br><br>No one has reviewed you yet.</p>
        </div>
      </div>
    <% end %>

    <% if @host_reviews.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Host Reviews
        </div>
        <div class="panel-body">
          
            <% @host_reviews.order(id: :desc).each do |r| %>
              <div class="row">
                <div class="col-md-3 text-center">

                  <strong><%= r.host.fullname %></strong>
                </div>
                <div class="col-md-9">
                  <div id="star_<%= r.id %>"></div>

                  <% if current_user && current_user == r.host %>
                      <span class="pull-right">
                        <%= link_to r, method: :delete, data: {confirm: "Are you sure?"} do %>
                            <i class="fa fa-trash-o fa-lg"></i>
                        <% end %>
                      </span>
                  <% end %>
                  <div><%= r.created_at.strftime("%v") %></div>
                  <div><%= r.comment %></div>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    <% end %>
    
    <% if @guest_reviews.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Guest Reviews
        </div>
        <div class="panel-body">
          <% @guest_reviews.order(id: :desc).each do |r| %>
            <div class="row">
              <div class="col-md-3 text-center">

                <strong><%= r.guest.fullname %></strong>
              </div>
              <div class="col-md-9">
                <div id="star_<%= r.id %>"></div>

                <% if current_user && current_user == r.guest %>
                    <span class="pull-right">
                      <%= link_to r, method: :delete, data: {confirm: "Are you sure?"} do %>
                          <i class="fa fa-trash-o fa-lg"></i>
                      <% end %>
                    </span>
                <% end %>
                <div><%= r.created_at.strftime("%v") %></div>
                <div><%= r.comment %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>

    </div>
</div>
