<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-body">
        <div class="image-responsive" id="profile-photo-large">
          <% if @user.image.present? %>
            <%= image_tag @user.image_url, class: "avatar-full" %>
          <% else %>
            <i class="fa fa-camera fa-lg"></i>&nbsp;&nbsp;no image
          <% end %>
        </div>
      </div>
      <div class="panel panel-body">
        <% if current_user && current_user != @user %>
          <%= link_to conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post, class: "btn btn-default" do %>Send Message&nbsp;<i class="fa fa-envelope-o faa-shake animated" aria-hidden="true"></i><% end %>
        <% end %>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Verification</div>
        <div class="panel-body">
          <ul class="sidebar-list">
              <li>Email Address<span class="pull-right"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span></li>
            <% if @user.provider %>
              <li>Facebook<span class="pull-right"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span></li>
            <% end %>
            <% if @user.phone_number %>
              <li>Phone Number<span class="pull-right"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span></li>
              <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <h1>Hey, I'm <%= @user.fullname %>!</h1>
      <% if current_user == @user %>
        <a href="/profile">Edit Profile</a>
      <% end %>
      <div class="description row-space-3">
        <%= @user.description %>
      </div>

      <br/>

      <% if @host_reviews.present? || @guest_reviews.present? %>
        <h2>Reviews</h2>
      <% end %>
      
      <% if @host_reviews.present? %>
      <h4>Reviews From Hosts (<%= @host_reviews.count %>)</h4>
        <div class="row">
          <%= render "reviews/host_list" %>
        </div>
        <br><br>
      <% end %>

      <% if @guest_reviews.present? %>
        <h4>Reviews From Guests (<%= @guest_reviews.count %>)</h4>
        <div class="row">
          <%= render "reviews/guest_list" %>
        </div>
        <br/>
      <% end %>
    </div>
  </div>
</div>
