<br>
<footer class="footer">
<hr>
<br>

  <div class="container">
    <div class="footer-body">
    <br>
    <div class="footer-section">
        <ul class="footer-left">
          <p>Airbnb</p>
            <li>
              <%= link_to "About us", src="https://www.airbnb.com/about/about-us" %>
            </li>
            <li>
              <%= link_to "Careers", src="https://www.airbnb.com/careers" %>
            </li>
            <li>
              <%= link_to "Press", src="https://press.atairbnb.com/" %>
            </li>
            <li>
              <%= link_to "Policies", src="https://www.airbnb.com/policies" %>
            </li>
            <li>
              <%= link_to "Help", src="https://www.airbnb.com/help?from=footer" %>
            </li>
            <li>
              <%= link_to "Diversity & Belonging", src="https://www.airbnb.com/diversity"  %>
            </li>
        </ul>
    </div>

    <div class="footer-section">
        <ul class="footer-left">
          <p>Discover</p>
            <li>
              <%= link_to "Trust & Safety", src="https://www.airbnb.com/trust" %>
            </li>
            <li>
              <%= link_to "Travel Credit", src="https://www.airbnb.com/invite?r=6" %>
            </li>
            <li>
              <%= link_to "Gift Cards", src="https://www.airbnb.com/gift?s=footer" %>
            </li>
            <li>
              <%= link_to "Airbnb Citizen", src="https://www.airbnbcitizen.com/?utm_source=airbnb&utm_medium=footer&utm_campaign=product" %>
            </li>
            <li>
              <%= link_to "Business Travel", src="https://www.airbnb.com/work?s=footer" %>
            </li>
            <li>
              <%= link_to "Guidebooks", src="https://www.airbnb.com/things-to-do" %>
            </li>
            <li>
              <%= link_to "Airbnbmag", src="https://airbnbmag.com/" %>
            </li>
        </ul>
      </div>

    <div class="footer-section">
        <ul class="footer-left">
          <p>Hosting</p>
            <li>
              <%= link_to "Why Host", src="https://www.airbnb.com/host/homes?from_footer=1" %>
            </li>
            <li>
              <%= link_to "Hospitality", src="https://www.airbnb.com/hospitality" %>
            </li>
            <li>
              <%= link_to "Responsible Hosting", src="https://www.airbnb.com/help/responsible-hosting" %>
            </li>
            <li>
              <%= link_to "Community Center", src="https://www.airbnb.com/help/community?s=footer" %>
            </li>
        </ul>
      </div>
    </div>
  </div>
  
  <br>

  <div class="container">
      <hr>

      <div class="footer-bottom">
          <%= image_tag "https://s.gravatar.com/avatar/e90c5b356d93f510fb660e271ec62782?s=80", class: "image-circle avatar-small avatar-gray" %>
          <p class="footer-left">&nbsp;&nbsp;© Airbnb, Inc.</p>
          <ul class="footer-right">
            <li>
              <%= link_to "Terms", src="https://www.airbnb.com/terms" %>
            </li>
            <li>
              <%= link_to "Privacy", src="https://www.airbnb.com/terms/privacy_policy" %>
            </li>
            <li>
              <%= link_to "Site Map", src="https://www.airbnb.com/sitemaps" %>
            </li>
          </ul>
      </div>
    </div>
</footer>
