<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a id="mainlogo" href="/"><%= image_tag "https://s.gravatar.com/avatar/e90c5b356d93f510fb660e271ec62782?s=80", class: "image-circle avatar-medium" %>
        </a>
    </div>

  <!-- TOP NAVBAR -->
    <div id="navbar" class="navbar-collapse collapse">
      <%= form_tag search_path, class: "navbar-form navbar-left", method: :get do %>

        <% if current_page?(root_path) && !current_page?(search_path) && !current_page?("/rooms/#{params[:id]}") %>
          <div class="form-group">
            <table>
            <tbody>
            <tr>

            <td>
              <div class="icon-gray">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
              <%= text_field_tag :search, params[:search], placeholder: "Anywhere", class: "form-navbar" %>
            </td>

              <td>
              <div class="icon-gray">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
              </div>
                <%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-navbar datepicker" %>
              </td>

              <td>
                <div class="icon-gray">
                  <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-navbar datepicker" %>
            </td>
            </tr>
            </tbody>
            </table>
          </div>
        <% else %>
          <div class="form-group">
            <div class="icon-gray">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-navbar" %>
          </div>
        <% end %>
        <%= submit_tag "Search", class: "btn btn-normal" %>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if user_signed_in? && current_user.rooms.present? %>
            
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">
                    Host
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Dashboard", dashboard_path %></li>

              <li><%= link_to "Calendar", host_calendar_path %></li>

              <li><%= link_to "Manage Listings", rooms_path %></li>

              <li><%= link_to "List Your Space", rooms_path %></li>

              <li><%= link_to "Your Reservations", your_reservations_path %></li>

              <li><%= link_to "Reviews (TBD)", root_path %></li>

              <li><%= link_to "Host Assist", src="https://www.airbnb.com/host-assist" %></li>

              <li><%= link_to "Experience Hosting", src="https://www.airbnb.com/host/experiences" %></li>
              </ul>
          <% else %>
            <%= link_to "Become a host", new_room_path %>
          <% end %>
        </li>
        <li>
          <%= link_to "Trips", your_trips_path %>
        </li>
        <li>
          <%= link_to "Messages (TBD)", root_path %>
        </li>
        <li>
          <%= link_to "Help (TBD)", root_path %>
        </li>

        <% if (!user_signed_in?) %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">
                    <% if current_user.image.present? %>
                      <%= image_tag current_user.image, class: "img-circle avatar-small" %>&nbsp;
                    <% else %>
                      <%= current_user.fullname %>
                    <% end %>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li><%= link_to "Travel Credit (TBD)", root_path %></li>
                <li><%= link_to "Account Settings (TBD)", root_path %></li>
                <li><%= link_to "My Guidebook", src="https://www.airbnb.com/things-to-do" %></li>
                <li><%= link_to "Airbnb for Work", src="https://www.airbnb.com/work?s=nav" %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
        <% end %>
      </ul>
    </div>

    <script>
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });

  $(function() {
    $("#autolocation").geocomplete();
  })
</script>

<!-- WHITE NAVBAR -->
  <% if current_page?(root_path) || current_page?(search_path) %>
    <nav class="navbar-inbetween" >
      <ul class="nav navbar-nav subnav-item">
        <li>
          <%= link_to "FOR YOU", root_path %>
        </li>
        <li <% if current_page?(search_path) %> id="activetab" <% end %> >
          <%= link_to "HOMES", search_path %>
        </li>
        <li>
          <%= link_to "EXPERIENCE", root_path %>
        </li>
        <li>
          <%= link_to "PLACES", root_path %>
        </li>
      </ul>
      </nav>
  <% end %>

<!-- BLACK NAVBAR -->
  <% if (user_signed_in?) && !current_page?(root_path) && !current_page?(search_path) && !current_page?("/rooms/#{params[:id]}") || current_page?(rooms_path) %>

      <nav class="navbar-inbetween" style="background-color: #484848">
        <div class="container" id="navbar-black">
          <ul class="nav navbar-nav subnav-item">
            <li <% if current_page?(dashboard_path) %> id="activepage" <% end %>><%= link_to "Dashboard", dashboard_path %></li>

            <% if current_user.rooms.present? %>
            <li><%= link_to "Stats (TBD)", root_path, disabled: true %></li>
            <% end %>

            <li><%= link_to "Inbox (TBD)", root_path, disabled: true %></li>

            <li <% if current_page?(rooms_path) %> id="activepage" <% end %> ><%= link_to "Your Listings", rooms_path %></li>

            <% if current_user.rooms.present? %>
              <li><%= link_to "Host Assist", src="https://www.airbnb.com/host-assist" %></li>
            <% end %>

            <% if !current_user.rooms.present? %>
              <li <% if current_page?(your_trips_path) %> id="activepage" <% end %> ><%= link_to "Your Trips", your_trips_path %></li>
            <% end %>

            <% if current_user.rooms.present? %>
              <li <% if current_page?(your_reservations_path) %> id="activepage" <% end %> ><%= link_to "Your Reservations", your_reservations_path %></li>
            <% end %>

            <li <% if current_page?(edit_user_registration_path) || current_page?(image_upload_user_path(current_user)) || current_page?(reviews_about_you_user_path(current_user)) || current_page?(reviews_by_you_user_path(current_user)) %> id="activepage" <% end %> ><%= link_to "Profile", edit_user_registration_path %></li>

            <li><%= link_to "Account", src="https://www.airbnb.com/users/notifications" %></li>

            <li><%= link_to "Travel Credit (TBD)", root_path, disabled: true %></li>
          </ul>
        </div>
      </nav>

  <% end %>
</nav>

