<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a id="mainlogo" href="/"><%= image_tag "https://s.gravatar.com/avatar/e90c5b356d93f510fb660e271ec62782?s=80", class: "image-circle avatar-medium" %>
        </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <%= form_tag search_path, class: "navbar-form navbar-left", method: :get do %>
          <div class="form-group">
<!--             <div class="icon-gray">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div> -->
            <%= text_field_tag :search, params[:search], placeholder: "Anywhere", class: "form-control" %>
          </div>
<!--             <div class="icon-gray">
              <i class="fa fa-calendar-o" aria-hidden="true"></i>
            </div>
            <div class="icon-gray">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div> -->
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Become a host", new_room_path %>
        </li>
        <li>
          <%= link_to "Trips", your_trips_path %>
        </li>
        <li>
          <%= link_to "Messages (TBD)", root_path %>
        </li>
        <li>
          <%= link_to "Help", root_path %>
        </li>

        <% if (!user_signed_in?) %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">
                    <%= image_tag avatar_url(current_user), class: "img-circle avatar-small" %>&nbsp;
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li>Travel Credit (TBD)</li>
                <li>Account Settings (TBD)</li>
                <li>My Guidebook (TBD)</li>
                <li>Business Travel (TBD)</li>
                <li><%= link_to "Manage Listing", rooms_path %></li>
                <li><%= link_to "List Your Space", new_room_path %></li>
                <li><%= link_to "Your Reservations", your_reservations_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
        <% end %>
      </ul>
    </div>
</nav>

<% if (user_signed_in?) && !current_page?(root_path) && !current_page?("/rooms/#{params[:id]}")%>
    <nav class="navbar navbar-default" style="background-color: #484848">
      <div class="container">
        <ul class="nav navbar-nav subnav-item">
          <li>Dashboard</li>
          <li <% if current_page?(rooms_path) %> class="active" <% end %> ><%= link_to "Manage Listings", rooms_path %></li>
          <li>Messages</li>
          <li>Revenues</li>
          <li>Host Calendar</li>
          <li>Account Settings</li>
        </ul>
      </div>
    </nav>
<% end %>

