<div class="container">

<% if !@trips.blank? %>
  <div class="row">
  <%= render 'shared/sidebar' %>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your Trips
      </div>
      <div class="panel-body">

        <% @trips.each do |trip| %>
          <div class="row">
            <div class="col-md-2">
              <%= trip.start_date.strftime('%v') %>
              <p><%= trip.status %></p>
            </div>
            <div class="col-md-5">
              <%= link_to room_path(trip.room) do %>
                <%= image_tag trip.room.photos[0].image.thumb.url %>
              <% end %>
            </div>
            <div class="col-md-3">
              <%= link_to trip.room.listing_name, room_path(trip.room) %><br/><br/>
              <span>
                <%= image_tag trip.room.user.image.url, class: "img-circle avatar-small" %>
                <%= link_to user_path(trip.room.user) do %>
                    <%= trip.room.user.fullname %>
                <% end %>
              </span>
            </div>
            <div class="col-md-2 text-right">
              <%= render partial: "reviews/guest_form", locals: {reservation: trip} if trip.Approved? %>
            </div>
          </div>
          <hr/>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
      <div class="col-md-8" style="float: left">
        <h2>Choose your next adventure</h2>
        <p>Give your friends $38 to try Airbnb and you will also get $19 in travel credit when they take their first trip.</p>
      </div>
    <div class="col-md-12">
      <i class="fa fa-space-shuttle fa-5x faa-passing animated" aria-hidden="true"></i>
    </div>
  </div>
<% end %>
</div>
