<div class="container">
  <div class="row">
  <%= render 'shared/sidebar' %>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your Trips
      </div>
      <div class="panel-body">

        <% @trips.each do |trip| %>
          <div class="row">
            <div class="col-md-2">
              <%= trip.start_date.strftime('%v') %>
              <p><%= trip.status %></p>
            </div>
            <div class="col-md-5">
              <%= link_to room_path(trip.room) do %>
                <%= image_tag trip.room.photos[0].image.thumb.url %>
              <% end %>
            </div>
            <div class="col-md-3">
              <%= link_to trip.room.listing_name, room_path(trip.room) %><br/><br/>
              <span>
                <%= image_tag trip.room.user.image.url, class: "img-circle avatar-small" %>
                <%= link_to user_path(trip.room.user) do %>
                    <%= trip.room.user.fullname %>
                <% end %>
              </span>
            </div>
            <div class="col-md-2 text-right">
              <%= render partial: "reviews/guest_form", locals: {reservation: trip} if trip.Approved? %>
            </div>
          </div>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
