  <!-- WHITE NAVBAR -->
    <h1>Listings</h1>
    <%= link_to "View calendar", host_calendar_path, class: "btn btn-form" %>
    <nav class="navbar-inbetween" >
      <ul class="nav navbar-nav subnav-item">
        <li <% if current_page?(listing_details_room_path) %> id="activetab" <% end %>>
          <%= link_to "Listing details", root_path %>
        </li>
        <li <% if current_page?(root_path) %> id="activetab" <% end %> >
          <%= link_to "Booking settings (TBD)", root_path %>
        </li>
        <li <% if current_page?(root_path) %> id="activetab" <% end %>>
          <%= link_to "Pricing (TBD)", root_path %>
        </li>
        <li <% if current_page?(root_path) %> id="activetab" <% end %>>
          <%= link_to "Availability (TBD)", root_path %>
        </li>
        <li <% if current_page?(local_laws_room_path) %> id="activetab" <% end %>>
          <%= link_to "Local laws", root_path %>
        </li>
        <li <% if current_page?(co_hosts_room_path) %> id="activetab" <% end %>>
          <%= link_to "Co-hosts", root_path %>
        </li>
      </ul>
    </nav>
