<div class="container">
  <ul class="sidebar-list">
    <li class="sidebar-item">
      <%= link_to "Listing", listing_room_path, class: "sidebar-link active" %>
      <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
    </li>
    <li class="sidebar-item">
      <%= link_to "Pricing", pricing_room_path, class: "sidebar-link active" %>
      <% if !@room.price.blank? %>
        <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
      <% end %>
    </li>
    <li class="sidebar-item">
      <%= link_to "Description", description_room_path, class: "sidebar-link active" %>
      <% if !@room.listing_name.blank? %>
        <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
      <% end %>
    </li>
    <li class="sidebar-item">
      <%= link_to "Photos", photo_upload_room_path, class: "sidebar-link active" %>
      <% if !@room.photos.blank? %>
        <span id="photo_check" class="pull-right text-babu"><i class="fa fa-check"></i></span>
      <% end %>
    </li>
    <li class="sidebar-item">
      <%= link_to "Amenities", amenities_room_path, class: "sidebar-link active" %>
      <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
    </li>
    <li class="sidebar-item">
      <%= link_to "Location", location_room_path, class: "sidebar-link active" %>
      <% if !@room.address.blank? %>
        <span class="pull-right text-babu"><i class="fa fa-check"></i></span>
      <% end %>
    </li>
  </ul>
  <hr/>

  <% if !@room.price.blank? && !@room.listing_name.blank? && !@room.photos.blank? && !@room.address.blank? %>
    <%= form_for @room do |f| %>
      <%= check_box_tag(:active) %>
      <%= label_tag(:active, "This room is active.") %>
      <p style="line-height:6px;"></p>
      <%= link_to "Publish", room_path(@room), method: :get, class: "btn btn-normal", data: {confirm: "Are you ok to publish this room?"} %>
    <% end %>
  <% else %>
    <button type="button", class="btn btn-normal", disabled="true">Publish</button>
  <% end %>

</div>
