<div class="container">
  <div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item" <% if current_page?(rooms_path) %> id="active-sidebar" <% end %>><%= link_to "Your Listings", rooms_path, class: "sidebar-link inactive" %></li>

      <li class="sidebar-item" <% if current_page?(your_reservations_path) %> id="active-sidebar" <% end %>><%= link_to "Your Reservations", your_reservations_path, class: "sidebar-link inactive" %></li>

      <li class="sidebar-item" <% if current_page?(your_trips_path) %> id="active-sidebar" <% end %>><%= link_to "Your Trips", your_trips_path, class: "sidebar-link inactive" %></li>

      <li class="sidebar-item"><%= link_to "Add New Listings", new_room_path, class: "btn btn-form" %></li>
    </ul>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Listed
      </div>
      <div class="panel-body">

        <% @rooms.each do |room| %>
          <div class="row">
            <div class="col-md-5">
              <% if room.photos.length > 0 %>
                <%= image_tag room.photos[0].image.thumb.url %>
              <% else %>
                No photos added yet
              <% end %>
            </div>
            <div class="col-md-7">
              <h4><%= room.listing_name %></h4>
              <p><%= room.address %></p>
              <p><%= room.updated_at %></p>
              <div>
                <%= link_to "Manage Listing (TBD)", listing_room_path(room), class: "btn btn-white" %>
              </div>
              <div>
                <%= link_to "Preview", room_path(room), class: "btn btn-white" %>
              </div>
            </div>
          </div>
        <hr>
        <% end %>

      </div>
    </div>
  </div>
</div>
</div>
