<div class="body-full">
  <div class="green-label">
    <div class="green-label container">
      <span style="font-size: 19px">Preview mode: </span> This is how guests will see your listing
      <a href=room_path class="btn btn-form pull-right" id="preview-listing-button">Preview listing</a>
    </div>
  </div>
  <%= image_tag @room.photos[0].image.url, width: "100%" %>
</div>
<br>

<div class="container">

    <!-- MAIN INFO -->
  <div class="body-left">
    <div class="row">
      <div class="col-md-8">
        <h1><%= @room.listing_name %>(<%= link_to "Edit listing", listing_room_path %>)</h1>
        <%= @room.address %>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to "/users/#{@room.user_id}" do %>
          <% if @room.user.image_url.present? %>
             <%= image_tag @room.user.image_url, class: "img-circle avatar-large" %>
          <% else %>
            <%= image_tag "https://s.gravatar.com/avatar/e90c5b356d93f510fb660e271ec62782?s=80", class: "image-circle avatar-medium" %>
          <% end %>
          <br/><br/>
          <%= @room.user.fullname %>
        <% end %>
      </div>
    </div>
    <hr/>

    <div class="row text-babu">
      <div class="row text-center row-space-1">
        <div class="col-md-3">
          <i class="fa fa-home fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-user-circle-o fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-bed fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-bath fa-2x"></i>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-3"><%= @room.home_type %></div>
        <div class="col-md-3"><%= pluralize(@room.accommodate, "Guest") %></div>
        <div class="col-md-3"><%= pluralize(@room.bed_room, "Bedroom") %></div>
        <div class="col-md-3"><%= pluralize(@room.bath_room, "Bathroom") %></div>
      </div>

    </div>
    <hr/>

    <!-- ABOUT -->
    <div class="row">
      <div class="col-md-12">
        <p><%= @room.summary %></p>
      </div>
    </div>
    <hr/>

    <!-- AMENITIES -->
    <div class="row">
      <div class="col-md-3">
        <h2>Amenities</h2>
      </div>

      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <ul class="amenities">
              <li class="<%= 'text-line-through' if !@room.is_tv %>">TV</li>
              <li class="<%= 'text-line-through' if !@room.is_kitchen %>">Kitchen</li>
              <li class="<%= 'text-line-through' if !@room.is_internet %>">Internet</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="amenities">
              <li class="<%= 'text-line-through' if !@room.is_heating %>">Heating</li>
              <li class="<%= 'text-line-through' if !@room.is_air %>">Air Conditioning</li>
            </ul>
          </div>

        </div>
      </div>

    </div>
    <hr/>

    <!-- REVIEWS -->
    <div class="row">
      <div class="col-md-12">
        <% if @guest_reviews.present? %>
          <h2>
            Reviews
            <%= pluralize(@guest_reviews.count, "Review") %>
            <span id="average_rating"></span>
          </h2>
          <div class="container">
            <div><%= render "reviews/guest_list" %></div>
          </div>
        <% else %>
          <h2>No reviews (yet)</h2>
          <p class="annotation">This home doesn’t have any reviews. If you stay here, your review will appear here.</p>
        <% end %>
        <br>
      </div>
    </div>

    <!-- CAROUSEL -->
    <div class="row">

      <% if @photos.present? %>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- INDICATORS -->
          <ol class="carousel-indicators">
            <% @photos.each do |photo| %>
                <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
            <% end %>
          </ol>

          <!-- WRAPPER FOR SLIDES -->
          <div class="carousel-inner">
            <% @photos.each do |photo| %>
                <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                  <%= image_tag photo.image.url %>
                </div>
            <% end %>
          </div>

          <!-- LEFT AND RIGHT CONTROLS -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <% end %>

    </div>
    <hr/>


<!--     <%if @room.user_id == current_user.id %>
      <%= link_to "Delete this room", room_path(@room), method: :delete, class: "btn btn-normal", data: {confirm: "Are you sure to delete this room?"} %>
    <% end %> -->
     <br>
     <hr>
  </div>
<%= render 'room_map' %>
</div>
