<div class="container">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="image-responsive" id="profile-photo-large">
          <% if current_user.image.present? %>
            <%= image_tag current_user.image_url, class: "avatar-full" %>
          <% else %>
            <i class="fa fa-camera fa-lg"></i>&nbsp;&nbsp;no image
          <% end %>
        </div>
      </div>
      <div class="panel-body">
        <ul class="sidebar-list">
          <li><h4><%= current_user.fullname %></h4></li>>
          <li><%= link_to "Profile (TBD)", edit_user_registration_path %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- RIGHT CONTENT -->
  <div class="col-md-9">
    <!-- Notification -->
    <div class="panel panel-default">
      <div class="panel-heading">Notifications</div>
      <div class="panel-body">
      </div>
    </div>

    <!-- VERIFIED INFO -->
    <%= render 'verified_info' %>

  </div>
</div>
